---
layout: default
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Contacte-nos</h3>
                            <div class="form-field">
                    <input type="text" name="name" placeholder="Nome e Sobrenome" required>                     
                </div>
                <div class="form-field">
                    <input type="email" name="email" placeholder="email@dominio" required>                     
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Coloque aqui a sua mensagem." required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Enviar">
            </form>
            </form>
        </div>

    </div>

<!--    <div class="container-fluid">
        
        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form">
            <h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Contacte-nos</h3>
            <form action="https://getsimpleform.com/messages?form_api_token={{ site.api_token }}" method="post">
                <div class="form-field">
                    <input name="name" type="text" placeholder="Name" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Phone" required>
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Message" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>
        </div>

    </div> -->
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contacte-nos</h3>
        <ul>
            {% if site.contact.phone %}<li><strong>Telemóvel:</strong> {{ site.contact.phone }}</li>{% endif %}
            <!--{% if site.contact.emergency %}<li><strong>Emergency:</strong> {{ site.contact.emergency }}</li>{% endif %}-->
            {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Horário de atendimento</h3>
        <table>
            <tbody>
                <tr>
                    <td>Segunda a Sexta</td>
                    <td>{{ site.monday_friday }}</td>
                </tr>
                <tr>
                    <td>Sábado</td>
                    <td>{{ site.saturday }}</td>
                </tr>
                <tr>
                    <td>Domingo</td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Localização</h3>
            <p>
                {{ site.contact.address }}
            </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">Sobre nós</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Bem-vindo ao GOADO</h3>
                <p>O gabinete online de apoio a doentes oncológicos é um movimento de voluntariado social, que visa o acompanhamento personalizado na gestão financeira dos Direitos do doente oncológico, em regime “pro bono”.</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Acompanhamento personalizado na gestão financeira dos Direitos do doente oncológico.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-leaf"><use xlink:href="#icon-leaf"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Averbamento nas finanças.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Consultas de coaching</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Áreas onde podemos ajudar</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-sm-6 col-md-4">
                    <div class="icon-box">
                        <svg class="icon {{ treatment.icon }}"><use xlink:href="#{{ treatment.icon }}"></use></svg>
                        <h4>{{ treatment.title }}</h4>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Testimonials -->
<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                    <div class="testimonial-item">
                        <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                        <blockquote>
                            <p>{{ testimonial.description }}</p>
                            <footer>
                                {{ testimonial.name }}
                                <small>{{ testimonial.title }}</small>
                            </footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div> 
<!-- End Testimonials --> 

<!-- Start Our team -->
 <div id="team" class="team"> 
    <h2 class="section-title">Links Úteis 1</h2> 
    <div id="team-carousel">
    {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                <a href="{{ member.url }}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="{{ member.link }}"><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></a>
                </a>
                <a href="tel:{{ member.phone }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.phone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></a>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
</div> 
<!-- End Our team -->

<!-- Start Gallery -->
<section class="bg-light page-section" id="portfolio">         
    <h2 class="section-title">Links Úteis 2 - clica nas imagens</h2>        
        <div class="gallery">
            {% for images in site.data.gallery %}
            <div class="gallery-item portfolio-item">                
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="" />
                    <div class="portfolio-caption">
                    <!--  <div class="portfolio-caption-heading">{{ images.image_alt }}</div>-->
                        <div class="text-muted">{{ images.image_alt }}</div>
                    </div>
                </a>
            </div>
            {% endfor %}        
        </div>    
</section>
  <!-- Modal 1-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" src="img/gallery/thumb/dgs.png" alt="" />
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                            <ul class="list-inline">
                                <li>Date: January 2020</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times mr-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gallery">        
    <h2 class="section-title">Links Úteis 3 - passa rato por cima imagens</h2>
    {% for images in site.data.gallery %} 
       <!-- <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link"> -->
       <div class="gallery-item expandable-box">  
                <div class="expandable-box-top">
                    <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" alt="{{ images.image_alt }}">
                   <!-- <h4>{{ images.image_alt }}</h4> -->
                    <p class="text-muted">{{ images.image_alt }}</p>
                </div>
                <div class="expandable-box-bottom">
                    <a href="{{ member.url }}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="{{ member.link }}"><svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg></a>
                    </a>                
                    <a href="tel:{{ member.phone }}" data-toggle="tooltip" data-placement="bottom" title="{{ member.phone }}"><svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg></a>
                    </a>
                </div> 
        </div>
    {% endfor %}
</div>
<!-- End Gallery --> 
<!-- Start Map -->
<!-- <div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div> -->
<!-- End Map -->
